<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuildMyPC: Custom PC Builder</title>
    <link rel="stylesheet" href="Aircooler.css">
</head>

<body>

   <header>
        <div class="container">
              <div class="logo"><ab>BuildMyPC</ab></div>
         <img src="logo.jpg" alt="Logo" class="img-logo" />
             <nav>
                 <ul>
                     <li><a href="/Html/Mini Project/main/Home.html" class="active">Home</a></li>
                     <li><a href="/Html/Mini Project/main/pcbulider.html">PC Builder</a></li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/pre-bulid.html">Pre-Bulid</a>
                         <div class="dropdown-content">
                             <a href="/Html/Mini Project/Pre-Build/gamingpc.html">Gaming PC</a>
                             <a href="/Html/Mini Project/Pre-Build/professionalpc.html">Professional PC</a>
                             <a href="/Html/Mini Project/Pre-Build/casualpc.html">Casual Work PC</a>
                             <a href="/Html/Mini Project/Pre-Build/serverpc.html">Server PC</a>
                             <a href="/Html/Mini Project/Pre-Build/minipc.html">Mini PC</a>
                             <a href="/Html/Mini Project/Pre-Build/creatorpc.html">Creator PC</a>
                             <a href="/Html/Mini Project/Pre-Build/multipurposepc.html">Multipurpose PC</a>
                         </div>
                     </li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/component.html">Components</a>
                         <div class="dropdown-content">
                              <a href="/Html/Mini Project/components/processors.html">Processors</a>
                             <a href="/Html/Mini Project/components/graphics.html">Graphics Cards</a>
                             <a href="/Html/Mini Project/components/Motherboard.html">Motherboards</a>
                             <a href="/Html/Mini Project/components/Ram.html">RAM</a>
                             <a href="/Html/Mini Project/components/Ssd.html">Ssd</a>
                             <a href="/Html/Mini Project/components/Hdd.html">HDD</a>
                             <a href="/Html/Mini Project/components/Hybriddriver.html">Hybrid Drives</a>
                             <a href="/Html/Mini Project/components/Aircooler.html">Air Cooler</a>
                             <a href="/Html/Mini Project/components/Liquidcooler.html">Liquid Cooler</a>
                             <a href="/Html/Mini Project/components/computercase.html">Computer cases</a>
                             <a href="/Html/Mini Project/components/soundcard.html">Sound Cards</a>
                             <a href="/Html/Mini Project/components/usbexpansion.html">USB Expansions</a>
                             <a href="/Html/Mini Project/components/thunderbolt.html">ThunderBolt Cards</a>
                             <a href="/Html/Mini Project/components/rgblight.html">RGB light strips and controllers</a>
                             <a href="/Html/Mini Project/components/opticaldriver.html">Optical Drives</a>
                             <a href="/Html/Mini Project/components/powercable.html">Power Cables</a>
                         </div>
                     </li>
 
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/Accessories.html">Accessories</a>
                             <div class="dropdown-content">
                                 <a href="/Html/Mini Project/Accessories/keyboard.html">Keyboard</a>
                                 <a href="/Html/Mini Project/Accessories/mouse.html">Mouse</a>
                                 <a href="/Html/Mini Project/Accessories/monitor.html">Monitor</a>
                                 <a href="/Html/Mini Project/Accessories/headphones.html">Headphones</a>
                                 <a href="/Html/Mini Project/Accessories/webcame.html">Webcame</a>
                                 <a href="/Html/Mini Project/Accessories/drives.html">Drives</a>
                                 <a href="/Html/Mini Project/Accessories/wifi-adapter.html">wifi-Adapter</a>
                             </div>
                         </li>
                     <li><a href="/Html/Mini Project/main/about.html">About</a></li>
                     <li><a href="/Html/Mini Project/main/contact.html">Contact</a></li>
                     <li id="loginBtn"><a href="/Html/Mini Project/main/login.html" onclick="toggleLoginForm()">Login</a></li>
                 </ul>
             </nav>
         </div>
     </header>
    <div class=" processor-table">
        <h1>Air Coolers</h1><br>
        <ab><u><b>"Keep Your System Cool with Top-notch Air Coolers!"</b></u></ab>
        <table border="2">
            <tr>
                <td><b>Sr.No</b></td>
                <td><b>Name</b></td>
                <td><b>Specification</b></td>
                <td><b>Pics</b></td>
                <td><b>Price (Approx.)</b></td>
                <td><b>Links</b></td>
                
            </tr>
            <tr>
                <td>1.</td>
                <td>Noctua NH-D15</td>
                <td>Fan Dimensions: 140 x 150 x 25 mm<br>
                    Heat Pipes: 6<br>
                    Base Material: Copper (nickel-plated)<br>
                    Fan Speed: 300 - 1500 RPM<br>
                    Noise Level: 24.6 dB(A) max<br>
                    Power Consumption: 1.56W</td>
                <td><img src="https://rukminim2.flixcart.com/image/832/832/xif0q/cooler/n/p/m/hyper-212-halo-black-cpu-cooler-pwm-case-fans-51-88-cfm-airflow-original-imagsas6wcecyzp2.jpeg?q=70" alt="Noctua NH-D15"></td>
                <td>₹8,000 (Approx.)</td>
                <td>
                    <a href="https://www.amazon.in/Noctua-NH-D15-Premium-Cooler-NF-A15/dp/B00L7UZMAK" target="_blank">**Amazon**</a><br><br>
                    <a href="https://www.flipkart.com/cooler-master-hyper-212-halo-black-cpu-pwm-case-fans-51-88-cfm-airflow-4-heat-pipes/p/itme5c2a9808794b?pid=COLGSAS6H2TK6VEG&marketplace=FLIPKART&q=Cooler+Master+Hyper+212+RGB+Black+Edition&srno=s_1_1&fm=organic&ppt=sp&ppn=sp&qH=73dd0bb77a02a99d" target="_blank">**Flipkart**</a>
                </td>
                
            </tr>
            <tr>
                <td>2.</td>
                <td>Cooler Master Hyper 212 RGB Black Edition</td>
                <td>Fan Dimensions: 120 x 120 x 25 mm<br>
                    Heat Pipes: 4<br>
                    Base Material: Copper<br>
                    Fan Speed: 650 - 2000 RPM<br>
                    Noise Level: 8 - 30 dBA<br>
                    Power Consumption: 2.64W</td>
                <td><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/cooler/j/r/x/hyper-212-argb-cpu-cooler-master-original-imaghavqeymgkwqp.jpeg?q=70" alt="Cooler Master Hyper 212 RGB Black Edition"></td>
                <td>₹4,500 (Approx.)</td>
                <td>
                    <a href="https://www.amazon.in/Cooler-Master-Hyper-RR-212S-20PC-R1-120mm/dp/B07H9J1T3H" target="_blank">**Amazon**</a><br><br>
                    <a href="https://www.flipkart.com/search?q=Cooler+Master+Hyper+212+RGB+Black+Edition" target="_blank">**Flipkart**</a>
                </td>
                
            </tr>
            <tr>
                <td>3.</td>
                <td>be quiet! Dark Rock Pro 4</td>
                <td>Fan Dimensions: 120 x 135 x 22 mm<br>
                    Heat Pipes: 7<br>
                    Base Material: Copper<br>
                    Fan Speed: 600 - 1500 RPM<br>
                    Noise Level: 12.8 - 24.3 dBA<br>
                    Power Consumption: 1.44W</td>
                <td><img src="https://m.media-amazon.com/images/I/61CGQH59UGL._SX679_.jpg" alt="be quiet! Dark Rock Pro 4"></td>
                <td>₹7,000 (Approx.)</td>
                <td>
                    <a href="https://www.amazon.in/be-quiet-Dark-Cooler-BK022/dp/B07BY6F8D9" target="_blank">**Amazon**</a><br><br>
                </td>
                
            </tr>
            <tr>
                <td>4.</td>
                <td>ARCTIC Freezer 34 eSports DUO</td>
                <td>Fan Dimensions: 120 x 120 x 25 mm<br>
                    Heat Pipes: 4<br>
                    Base Material: Direct touch, copper<br>
                    Fan Speed: 200 - 2100 RPM<br>
                    Noise Level: 0.5 Sone<br>
                    Power Consumption: 2.64W</td>
                <td><img src="https://rukminim2.flixcart.com/image/832/832/xif0q/cooler/o/h/i/freezer-34-esports-duo-tower-cpu-air-cooler-with-120mm-bionix-p-original-imaghk4pzrdcgbh6.jpeg?q=70" alt="ARCTIC Freezer 34 eSports DUO"></td>
                <td>₹5,000 (Approx.)</td>
                <td>
                    <a href="https://www.amazon.in/ARCTIC-Freezer-Esports-Duo-Configuration/dp/B07MJGNJB3?th=1" target="_blank">**Amazon**</a><br><br>
                    <a href="https://www.flipkart.com/arctic-freezer-34-esports-duo-tower-cpu-air-cooler-120mm-bionix-p-fan/p/itm3953ab1ac515f" target="_blank">**Flipkart**</a>
                </td>
                
            </tr>
            
            <tr>
                <td>5.</td>
                <td>Deepcool GAMMAXX 400 V2</td>
                <td>Fan Dimensions: 120 x 120 x 25 mm<br>
                    Heat Pipes: 4<br>
                    Base Material: Direct touch, copper<br>
                    Fan Speed: 500 - 1650 RPM<br>
                    Noise Level: 27.6 dBA<br>
                    Power Consumption: 2.04W</td>
                <td><img src="https://rukminim2.flixcart.com/image/832/832/keq058w0/cooler/y/f/w/deepcool-gammaxx-400-v2-blue-original-imafvbgzazyykt8s.jpeg?q=70" alt="Deepcool GAMMAXX 400 V2"></td>
                <td>₹2,500 (Approx.)</td>
                <td>
                    <a href="https://www.flipkart.com/deepcool-gammaxx-400-v2-blue-cpu-air-cooler/p/itm38c69e06cf198" target="_blank">**Flipkart**</a>
                </td>
                
            </tr>
            <tr>
                <td>6.</td>
                <td>Alseye HALO H120D</td>
                <td>Fan Dimensions: 120 x 135 x 22 mm<br>
                    Heat Pipes: 7<br>
                    Base Material: Copper<br>
                    Fan Speed: 600 - 1500 RPM<br>
                    Noise Level: 12.8 - 24.3 dBA<br>
                    Power Consumption: 1.44W</td>
                <td><img src="https://cdn.mdcomputers.in/image/cachewebp/catalog/cpu%20cooler/alseye/h120d-rgb-black/h120d-rgb-black-image-main-75x75.webp" alt="be quiet! Dark Rock Pro 4"></td>
                <td>₹3,500 (Approx.)</td>
                <td>
                    <a href="https://mdcomputers.in/nzxt-t120-rgb-white-rc-tr120-w1.html" target="_blank">**Mdcomputers**</a><br><br>
                </td>
                
            </tr>
            <tr>
                <td>7.</td>
                <td>NZXT T120 RGB</td>
                <td>Fan Dimensions: 120 x 120 x 25 mm<br>
                    Heat Pipes: 4<br>
                    Base Material: Direct touch, copper<br>
                    Fan Speed: 200 - 2100 RPM<br>
                    Noise Level: 0.5 Sone<br>
                    Power Consumption: 2.64W</td>
                <td><img src="https://cdn.mdcomputers.in/image/cachewebp/catalog/cabinet%20fan/nzxt/rc-tr120-w1/rc-tr120-w1-image-01-75x75.webp" alt="ARCTIC Freezer 34 eSports DUO"></td>
                <td>₹6,000 (Approx.)</td>
                <td>
                    <a href="https://www.amazon.in/ARCTIC-Freezer-Esports-Duo-Configuration/dp/B07MJGNJB3?th=1" target="_blank">**Amazon**</a><br><br>
                    <a href="https://www.flipkart.com/arctic-freezer-34-esports-duo-tower-cpu-air-cooler-120mm-bionix-p-fan/p/itm3953ab1ac515f" target="_blank">**Flipkart**</a>
                </td>
                
            </tr>
            <tr>
                <td>8.</td>
                <td>Thermaltake UX200 SE</td>
                <td>Fan Dimensions: 120 x 120 x 25 mm<br>
                    Heat Pipes: 4<br>
                    Base Material: Direct touch, copper<br>
                    Fan Speed: 200 - 2100 RPM<br>
                    Noise Level: 0.5 Sone<br>
                    Power Consumption: 2.64W</td>
                <td><img src="https://cdn.mdcomputers.in/image/cachewebp/catalog/cpu%20cooler/thermaltake/cl-p105-al12sw-a/cl-p105-al12sw-a-image-main-600x600.webp" alt="ARCTIC Freezer 34 eSports DUO"></td>
                <td>₹3,000 (Approx.)</td>
                  <td>  <a href="https://www.amazon.in/ARCTIC-Freezer-Esports-Duo-Configuration/dp/B07MJGNJB3?th=1" target="_blank">**Amazon**</a><br><br>
                    <a href="https://mdcomputers.in/thermaltake-ux200-se-argb-lighting-cl-p105-al12sw-a.html" target="_blank">**Mdcomputers**</a>
                </td>
                
            </tr>
            
           
                        
        </table>
        <br><br>
    </div>

<footer>
    <div class="container">
        <p>&copy; 2023 BuildMyPC. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
