<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuildMyPC: Custom PC Builder</title>
    <link rel="stylesheet" href="Motherboard.css">
</head>

<body>

   <header>
        <div class="container">
              <div class="logo"><ab>BuildMyPC</ab></div>
         <img src="logo.jpg" alt="Logo" class="img-logo" />
             <nav>
                 <ul>
                     <li><a href="/Html/Mini Project/main/Home.html" class="active">Home</a></li>
                     <li><a href="/Html/Mini Project/main/pcbulider.html">PC Builder</a></li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/pre-bulid.html">Pre-Bulid</a>
                         <div class="dropdown-content">
                             <a href="/Html/Mini Project/Pre-Build/gamingpc.html">Gaming PC</a>
                             <a href="/Html/Mini Project/Pre-Build/professionalpc.html">Professional PC</a>
                             <a href="/Html/Mini Project/Pre-Build/casualpc.html">Casual Work PC</a>
                             <a href="/Html/Mini Project/Pre-Build/serverpc.html">Server PC</a>
                             <a href="/Html/Mini Project/Pre-Build/minipc.html">Mini PC</a>
                             <a href="/Html/Mini Project/Pre-Build/creatorpc.html">Creator PC</a>
                             <a href="/Html/Mini Project/Pre-Build/multipurposepc.html">Multipurpose PC</a>
                         </div>
                     </li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/component.html">Components</a>
                         <div class="dropdown-content">
                              <a href="/Html/Mini Project/components/processors.html">Processors</a>
                             <a href="/Html/Mini Project/components/graphics.html">Graphics Cards</a>
                             <a href="/Html/Mini Project/components/Motherboard.html">Motherboards</a>
                             <a href="/Html/Mini Project/components/Ram.html">RAM</a>
                             <a href="/Html/Mini Project/components/Ssd.html">Ssd</a>
                             <a href="/Html/Mini Project/components/Hdd.html">HDD</a>
                             <a href="/Html/Mini Project/components/Hybriddriver.html">Hybrid Drives</a>
                             <a href="/Html/Mini Project/components/Aircooler.html">Air Cooler</a>
                             <a href="/Html/Mini Project/components/Liquidcooler.html">Liquid Cooler</a>
                             <a href="/Html/Mini Project/components/computercase.html">Computer cases</a>
                             <a href="/Html/Mini Project/components/soundcard.html">Sound Cards</a>
                             <a href="/Html/Mini Project/components/usbexpansion.html">USB Expansions</a>
                             <a href="/Html/Mini Project/components/thunderbolt.html">ThunderBolt Cards</a>
                             <a href="/Html/Mini Project/components/rgblight.html">RGB light strips and controllers</a>
                             <a href="/Html/Mini Project/components/opticaldriver.html">Optical Drives</a>
                             <a href="/Html/Mini Project/components/powercable.html">Power Cables</a>
                         </div>
                     </li>
 
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/Accessories.html">Accessories</a>
                             <div class="dropdown-content">
                                 <a href="/Html/Mini Project/Accessories/keyboard.html">Keyboard</a>
                                 <a href="/Html/Mini Project/Accessories/mouse.html">Mouse</a>
                                 <a href="/Html/Mini Project/Accessories/monitor.html">Monitor</a>
                                 <a href="/Html/Mini Project/Accessories/headphones.html">Headphones</a>
                                 <a href="/Html/Mini Project/Accessories/webcame.html">Webcame</a>
                                 <a href="/Html/Mini Project/Accessories/drives.html">Drives</a>
                                 <a href="/Html/Mini Project/Accessories/wifi-adapter.html">wifi-Adapter</a>
                             </div>
                         </li>
                     <li><a href="/Html/Mini Project/main/about.html">About</a></li>
                     <li><a href="/Html/Mini Project/main/contact.html">Contact</a></li>
                     <li id="loginBtn"><a href="/Html/Mini Project/main/login.html" onclick="toggleLoginForm()">Login</a></li>
                 </ul>
             </nav>
         </div>
     </header>
    <div class=" processor-table">
        <h1>MotherBoards</h1><br>
        <ab><u><b>"Powering Tomorrow, Connecting Today: Your Digital Nexus."</b></u></ab><br>
        <table border="2">
            <tr>
                <td><b>Sr.No</b></td>
                <td><b>Name</b></td>
                <td><b>Specification</b></td>
                <td><b>Pics</b></td>
                <td><b>Price</b></td>
                <td><b>Links</b></td>
                
            </tr>
        <tr>
            <td>1.</td>
            <td>Gigabyte GA-A320M-S2H</td>
            <td>Audio 1x SPDIF Out Header<br>
                Fans 2x 4-pin Fan Header<br>
                Misc 1x Chassis Intrusion Header 1x TPM Header<br>
                Power 1x 24-pin ATX Power 1x 8-pin 12V Power<br>
                Storage 4x SATA3<br>
                USB 2x USB 2 Header 1x USB 3 Gen 1 Header</td>
            <td><img src="https://motherboarddb.com/media/images/Gigabyte/GA-A320M-S2H/GA-A320M-S2H-5.png" alt="image not found"></td>
                <td>₹6,500 (Approx.)</td>
            <td><a href="https://www.amazon.com/GIGABYTE-GA-A320M-S2H-MicroATX-Realtek-Motherboard/dp/B079NYQQJJ" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/gigabyte-ga-a320m-s2h-motherboard/p/itmfahrfqbusgd98" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>2.</td>
            <td>Gigabyte B450 Aorus Elite</td>
            <td>Audio1x SPDIF Out Header<br>
                Fans 4x 4-pin Fan Header<br>
                Misc  2x Digital LED Strip Header 2x RGB Header 1x Serial Header 1x TPM Header<br>
                Power  1x 24-pin ATX Power 1x 8-pin 12V Power<br>
                Storage 6x SATA3<br>
                USB 2x USB 2 Header 1x USB 3 Gen 1 Header</td>
            <td><img src="https://motherboarddb.com/media/images/Gigabyte/B450%20Aorus%20Elite/B450_Aorus_Elite-5.png" alt="image not found"></td>
                <td>₹8,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/GIGABYTE-B450-Motherboard-Bandwidth-Management/dp/B07GYRW53K?th=1" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/gigabyte-b450-aorus-elite-motherboard/p/itm9b87d21ddb9d7" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>3.</td>
            <td>Asus Z170 Pro Gaming</td>
            <td>Fans 5x 4-pin Fan Header 1x 5-pin Fan Extension Header<br>
                Misc 1x ROG Extension Header 1x Serial Header 1x TPM Header<br>
                Power 1x 24-pin ATX Power 1x 8-pin 12V Power<br>
                Storage 1x SATA Express 6x SATA3<br>
                USB 3x USB 2 Header 1x USB 3 Gen 1 Header</td>
            <td><img src="https://motherboarddb.com/media/__sized__/images/Asus/Z170ProGaming/Z170_Pro_Gaming-3-thumbnail-150x150-70.jpg" alt="image not found"></td>
                <td>₹9,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/Asus-Z170-Pro-Gaming-Motherboard/dp/B0126R3QPA" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.indiamart.com/proddetail/asus-z170-pro-gaming-motherboard-22111008830.html" target="_blank">**Indiamart**</a></td>
        
        </tr>
        <tr>
            <td>4.</td>
            <td>Asus Prime Z370-P</td>
            <td>Audio 1x SPDIF Out Header<br>
                Fans 4x 4-pin Fan Header<br>
                Misc 1x Serial Header<br>
                Power 1x 24-pin ATX Power 1x 8-pin 12V Power<br>
                Storage 4x SATA3<br>
                USB 2x USB 2 Header 2x USB 3 Gen 1 Header<br></td>
            <td><img src="https://m.media-amazon.com/images/I/71B5DCy3SEL._SX679_.jpg" alt="image not found"></td>
                <td>₹9,999 (Approx.)</td>
            <td><a href="https://www.amazon.in/ASUS-Z370-P-Motherboard-Generation-Processors/dp/B075RJHLBK" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/asus-prime-z370-p-motherboard/p/itmf3342xhzgcxeu" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>5.</td>
            <td>Asrock B450M Steel Legend</td>
            <td>Fans 5x 4-pin Fan Header<br>
                Misc  1x Addressable LED Header 1x Chassis Intrusion Header 1x RGB Header 1x Serial Header 1x TPM Header<br>
                Power 1x 24-pin ATX Power 1x 8-pin 12V Power<br>
                Storage 4x SATA3<br>
                USB 2x USB 2 Header 1x USB 3 Gen 1 Header</td>
            <td><img src="https://motherboarddb.com/media/images/Asrock/B450M%20Steel%20Legend/B450M_Steel_Legend-5.png" alt="image not found"></td>
                <td>₹11,450 (Approx.)</td>
            <td><a href="https://www.amazon.in/ASRock-B450-Generation-CrossFireX-Motherboard/dp/B07MV7LR1B" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/asrock-b450m-steel-legend-socket-am4-amd-3rd-generation-ryzen-b450-ddr4-quad-crossfirex-sata3-usb3-1-m-2-a-gbe-microatx-motherboard/p/itm37defed6e03c5" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>6.</td>
            <td>Asrock Z370 Pro4</td>
            <td>Fans 4x 4-pin Fan Header<br>
                Misc 1x Chassis Intrusion Header 1x Serial Header  1x TPM Header 1x Thunderbolt 5-pin Header<br>
                Power 1x 24-pin ATX Power 1x 8-pin 12V Power<br>
                Storage 6x SATA3<br>
                USB 3x USB 2 Header 1x USB 3 Gen 1 Header</td>
            <td><img src="https://motherboarddb.com/media/images/Asrock/Z370%20Pro4/Z370_Pro4-5.png" alt="image not found"></td>
                <td>₹10,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/ASRock-Motherboard-Motherboards-Z370-PRO4/dp/B07639M7MY" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/asrock-z370-pro4-motherboard/p/itm3ea6d6ccf79e6" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>7.</td>
            <td>MSI Z390-A Pro</td>
            <td>Fans 7x 4-pin Fan Header<br>
                Misc 1x Chassis Intrusion Header 1x Parallel Header 1x Serial Header 1x TPM Header<br>
                Power 1x 24-pin ATX Power 1x 6-pin 12V Power 1x 8-pin 12V Power<br>
                Storage 6x SATA3<br>
                USB 2x USB 2 Header 2x USB 3 Gen 1 Header</td>
            <td><img src="https://rukminim2.flixcart.com/image/832/832/khwbde80-0/motherboard/n/3/r/z390-a-pro-z390-a-pro-atx-lga1151-gaming-msi-original-imafxtdqqehgxkvh.jpeg?q=70" alt="image not found"></td>
                <td>₹13,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/MSI-PRO-LGA1151-Gigabit-Motherboard/dp/B07J6Z9KJ2?th=1" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/msi-z390-a-pro-atx-lga1151-gaming-motherboard/p/itm5ba24af5e6eb2" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>8.</td>
            <td>MSI B450M Pro-VDH</td>
            <td>
                Fans 2x 4-pin Fan Header<br>
                Misc 1x Chassis Intrusion Header 1x Parallel Header 1x RGB Header 1x Serial Header 1x TPM Header
                Power 1x 24-pin ATX Power 1x 8-pin 12V Power
                Storage 4x SATA3
                USB 2x USB 2 Header 1x USB 3 Gen 1 Header</td>
            <td><img src="https://m.media-amazon.com/images/I/61zyb9R3VnL._SX679_.jpg" alt="image not found"></td>
                <td>₹12,999 (Approx.)</td>
            <td><a href="https://www.amazon.in/MSI-B450M-PRO-VDH-MAX-Motherboard/dp/B07WC724Z7?th=1" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/msi-b450m-pro-vdh-max-mini-atx-am4-gaming-motherboard/p/itm234a4bd7f482e?pid=MBDFXSBZPR2WWQMB&marketplace=FLIPKART" target="_blank">**Flipcart**</a></td>
        
        </tr>
        </table>
        <br><br>
    </div>

<footer>
    <div class="container">
        <p>&copy; 2023 BuildMyPC. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
