<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuildMyPC: Custom PC Builder</title>
    <link rel="stylesheet" href="opticaldriver.css">
</head>

<body>

   <header>
        <div class="container">
              <div class="logo"><ab>BuildMyPC</ab></div>
         <img src="logo.jpg" alt="Logo" class="img-logo" />
             <nav>
                 <ul>
                     <li><a href="/Html/Mini Project/main/Home.html" class="active">Home</a></li>
                     <li><a href="/Html/Mini Project/main/pcbulider.html">PC Builder</a></li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/pre-bulid.html">Pre-Bulid</a>
                         <div class="dropdown-content">
                             <a href="/Html/Mini Project/Pre-Build/gamingpc.html">Gaming PC</a>
                             <a href="/Html/Mini Project/Pre-Build/professionalpc.html">Professional PC</a>
                             <a href="/Html/Mini Project/Pre-Build/casualpc.html">Casual Work PC</a>
                             <a href="/Html/Mini Project/Pre-Build/serverpc.html">Server PC</a>
                             <a href="/Html/Mini Project/Pre-Build/minipc.html">Mini PC</a>
                             <a href="/Html/Mini Project/Pre-Build/creatorpc.html">Creator PC</a>
                             <a href="/Html/Mini Project/Pre-Build/multipurposepc.html">Multipurpose PC</a>
                         </div>
                     </li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/component.html">Components</a>
                         <div class="dropdown-content">
                              <a href="/Html/Mini Project/components/processors.html">Processors</a>
                             <a href="/Html/Mini Project/components/graphics.html">Graphics Cards</a>
                             <a href="/Html/Mini Project/components/Motherboard.html">Motherboards</a>
                             <a href="/Html/Mini Project/components/Ram.html">RAM</a>
                             <a href="/Html/Mini Project/components/Ssd.html">Ssd</a>
                             <a href="/Html/Mini Project/components/Hdd.html">HDD</a>
                             <a href="/Html/Mini Project/components/Hybriddriver.html">Hybrid Drives</a>
                             <a href="/Html/Mini Project/components/Aircooler.html">Air Cooler</a>
                             <a href="/Html/Mini Project/components/Liquidcooler.html">Liquid Cooler</a>
                             <a href="/Html/Mini Project/components/computercase.html">Computer cases</a>
                             <a href="/Html/Mini Project/components/soundcard.html">Sound Cards</a>
                             <a href="/Html/Mini Project/components/usbexpansion.html">USB Expansions</a>
                             <a href="/Html/Mini Project/components/thunderbolt.html">ThunderBolt Cards</a>
                             <a href="/Html/Mini Project/components/rgblight.html">RGB light strips and controllers</a>
                             <a href="/Html/Mini Project/components/opticaldriver.html">Optical Drives</a>
                             <a href="/Html/Mini Project/components/powercable.html">Power Cables</a>
                         </div>
                     </li>
 
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/Accessories.html">Accessories</a>
                             <div class="dropdown-content">
                                 <a href="/Html/Mini Project/Accessories/keyboard.html">Keyboard</a>
                                 <a href="/Html/Mini Project/Accessories/mouse.html">Mouse</a>
                                 <a href="/Html/Mini Project/Accessories/monitor.html">Monitor</a>
                                 <a href="/Html/Mini Project/Accessories/headphones.html">Headphones</a>
                                 <a href="/Html/Mini Project/Accessories/webcame.html">Webcame</a>
                                 <a href="/Html/Mini Project/Accessories/drives.html">Drives</a>
                                 <a href="/Html/Mini Project/Accessories/wifi-adapter.html">wifi-Adapter</a>
                             </div>
                         </li>
                     <li><a href="/Html/Mini Project/main/about.html">About</a></li>
                     <li><a href="/Html/Mini Project/main/contact.html">Contact</a></li>
                     <li id="loginBtn"><a href="/Html/Mini Project/main/login.html" onclick="toggleLoginForm()">Login</a></li>
                 </ul>
             </nav>
         </div>
     </header>
    <div class=" processor-table">
        <h1>Optical Drives</h1><br>
        <ab><u><b>"Read and Write with Precision: Choose Your Optical Drive!"</b></u></ab>
        <table border="2">
            <tr>
                <td><b>Sr.No</b></td>
                <td><b>Name</b></td>
                <td><b>Specification</b></td>
                <td><b>Pics</b></td>
                <td><b>Price</b></td>
                <td><b>Links</b></td>
                
            </tr>
            <tr>
                <td>1.</td>
                <td>LG DVD Writer</td>
                <td>Read Speed: 24x<br>Write Speed: 24x<br>Interface: USB 2.0<br>Compatibility: Windows and Mac</td>
                <td><img src="https://m.media-amazon.com/images/I/3134QrMv3HL._SY300_SX300_QL70_FMwebp_.jpg" alt="LG DVD Writer"></td>
                <td>₹4,500 (Approx.)</td>
                <td><a href="https://www.amazon.in/LG-Electronics-Portable-External-GP65NB60/dp/B00ODDE33U/ref=sr_1_2?keywords=LG+DVD+Writer&sr=8-2" target="_blank">**Amazon**</a><br><br>
                    <a href="https://www.flipkart.com/lg-gp65nb60-external-dvd-writer/p/itme8zadyzhybudu" target="_blank">**Flipkart**</a></td>
                
            </tr>
            <tr>
                <td>2.</td>
                <td>Asus External DVD Writer</td>
                <td>Read Speed: 8x<br>Write Speed: 8x<br>Interface: USB 3.0<br>Compatibility: Windows and Mac</td>
                <td><img src="https://m.media-amazon.com/images/I/519u6vH1MeL._SX679_.jpg"
                        alt="Asus External DVD Writer"></td>
                <td>₹5,500 (Approx.)</td>
                <td><a href="https://www.amazon.in/Asus-SDRW-08D2S-U-LITE-External-DVD-RW/dp/B00BGJ8GPU"
                        target="_blank">**Amazon**</a><br><br>
                    <a
                        href="https://www.flipkart.com/asus-sdrw-08d2s-u/p/itmd8qfxgyz9gz7c"
                        target="_blank">**Flipkart**</a></td>
                
            </tr>
            <tr>
                <td>3.</td>
                <td>Dell USB DVD Drive</td>
                <td>Read Speed: 24x<br>Write Speed: 8x<br>Interface: USB 2.0<br>Compatibility: Windows and Mac</td>
                <td><img src="https://m.media-amazon.com/images/I/61dJ+fJ-5OL._SX679_.jpg"
                        alt="Dell USB DVD Drive"></td>
                <td>₹7,500 (Approx.)</td>
                <td><a href="https://www.amazon.in/Dell-DW316-External-Drive-429-AAUX/dp/B00VWVZ0V0" target="_blank">**Amazon**</a><br><br>
                    <a href="https://www.flipkart.com/dell-dw316-external-dvd-writer/p/itmf3s23mkyhqzye"
                        target="_blank">**Flipkart**</a></td>
                
            </tr>
            <tr>
                <td>4.</td>
                <td>HP External DVD Writer</td>
                <td>Read Speed: 8x<br>Write Speed: 8x<br>Interface: USB 2.0<br>Compatibility: Windows and Mac</td>
                <td><img src="https://m.media-amazon.com/images/I/41-5NYzYuQS._SX679_.jpg"
                        alt="HP External DVD Writer"></td>
                <td>₹8,500 (Approx.)</td>
                <td><a href="https://www.amazon.in/HP-F6V97AA-ACJ-External-DVD-RW/dp/B00MDI0TBC" target="_blank">**Amazon**</a><br><br>
                    <a href="https://www.flipkart.com/hp-f6v97aa-acj-external-dvd-writer/p/itmf2jnchkdhgc7v"
                        target="_blank">**Flipkart**</a></td>
                
            </tr>
            <tr>
                <td>5.</td>
                <td>Samsung Ultra Slim DVD Writer</td>
                <td>Read Speed: 8x<br>Write Speed: 8x<br>Interface: USB 2.0<br>Compatibility: Windows and Mac</td>
                <td><img src="https://m.media-amazon.com/images/I/31NLYqA+fNL.jpg"
                        alt="Samsung Ultra Slim DVD Writer"></td>
                <td>₹5,500 (Approx.)</td>
                <td><a href="https://www.amazon.in/Samsung-Slim-External-DVD-Writer-Black/dp/B00EDF6IEA"
                        target="_blank">**Amazon**</a><br><br>
                    <a href="https://www.flipkart.com/samsung-ultra-thin-dvd-writer-m-disc-external/p/itmef34h4cadzvhg" target="_blank">**Flipkart**</a></td>
                
            </tr>
            <tr>
                <td>6.</td>
                <td>Lenovo External DVD Burner</td>
                <td>Read Speed: 8x<br>Write Speed: 8x<br>Interface: USB 2.0<br>Compatibility: Windows and Mac</td>
                <td><img src="https://rukminim2.flixcart.com/image/832/832/external-dvd-writer/k/q/8/lenovo-db65-original-imadrg2gcytzakz4.jpeg?q=70"
                        alt="Lenovo External DVD Burner"></td>
                <td>₹4,500 (Approx.)</td>
                <td><a href="https://www.amazon.in/Lenovo-DB65-Slim-External-Burner/dp/B00GCAYM1U" target="_blank">**Amazon**</a><br><br>
                    <a href="https://www.flipkart.com/lenovo-db65-portable-external-dvd-writer/p/itmdrg27pvrt6azw"
                        target="_blank">**Flipkart**</a></td>
                
            </tr>
            <tr>
                <td>7.</td>
                <td>Transcend External DVD Writer</td>
                <td>Read Speed: 8x<br>Write Speed: 8x<br>Interface: USB 2.0<br>Compatibility: Windows and Mac</td>
                <td><img src="https://m.media-amazon.com/images/I/31UOuMIwUKL._SY300_SX300_QL70_FMwebp_.jpg"
                        alt="Transcend External DVD Writer"></td>
                <td>₹6,500 (Approx.)</td>
                <td><a href="https://www.amazon.in/Transcend-TS8XDVD-K-External-Portable-Writer/dp/B009X0FQNY?th=1"
                        target="_blank">**Amazon**</a><br><br>
                    <a href="https://www.flipkart.com/transcend-slim-portable-cd-dvd-writer-black/p/itmdv3ezttayrxfk"
                        target="_blank">**Flipkart**</a></td>
                
            </tr>
            <tr>
                <td>8.</td>
                <td>Sony External DVD Writer</td>
                <td>Read Speed: 8x<br>Write Speed: 8x<br>Interface: USB 2.0<br>Compatibility: Windows and Mac</td>
                <td><img src="https://rukminim2.flixcart.com/image/832/832/external-dvd-writer/j/3/x/sony-drx-s90u-original-imad7gfstkzhwrt8.jpeg?q=70"
                        alt="Sony External DVD Writer"></td>
                <td>₹7,500 (Approx.)</td>
                <td><a href="https://www.amazon.in/Sony-Internal-Writer-DRU-870S-SATA/dp/B071NVRTB7"
                        target="_blank">**Amazon**</a><br><br>
                    <a href="https://www.flipkart.com/sony-drx-s90u-dvd-writer/p/itmd7gfhc8mavwte"
                        target="_blank">**Flipkart**</a></td>
                
            </tr>
        </table>
        <br><br>
    </div>

<footer>
    <div class="container">
        <p>&copy; 2023 BuildMyPC. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
