<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuildMyPC: Custom PC Builder</title>
    <link rel="stylesheet" href="powercable.css">
</head>

<body>

   <header>
        <div class="container">
              <div class="logo"><ab>BuildMyPC</ab></div>
         <img src="logo.jpg" alt="Logo" class="img-logo" />
             <nav>
                 <ul>
                     <li><a href="/Html/Mini Project/main/Home.html" class="active">Home</a></li>
                     <li><a href="/Html/Mini Project/main/pcbulider.html">PC Builder</a></li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/pre-bulid.html">Pre-Bulid</a>
                         <div class="dropdown-content">
                             <a href="/Html/Mini Project/Pre-Build/gamingpc.html">Gaming PC</a>
                             <a href="/Html/Mini Project/Pre-Build/professionalpc.html">Professional PC</a>
                             <a href="/Html/Mini Project/Pre-Build/casualpc.html">Casual Work PC</a>
                             <a href="/Html/Mini Project/Pre-Build/serverpc.html">Server PC</a>
                             <a href="/Html/Mini Project/Pre-Build/minipc.html">Mini PC</a>
                             <a href="/Html/Mini Project/Pre-Build/creatorpc.html">Creator PC</a>
                             <a href="/Html/Mini Project/Pre-Build/multipurposepc.html">Multipurpose PC</a>
                         </div>
                     </li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/component.html">Components</a>
                         <div class="dropdown-content">
                              <a href="/Html/Mini Project/components/processors.html">Processors</a>
                             <a href="/Html/Mini Project/components/graphics.html">Graphics Cards</a>
                             <a href="/Html/Mini Project/components/Motherboard.html">Motherboards</a>
                             <a href="/Html/Mini Project/components/Ram.html">RAM</a>
                             <a href="/Html/Mini Project/components/Ssd.html">Ssd</a>
                             <a href="/Html/Mini Project/components/Hdd.html">HDD</a>
                             <a href="/Html/Mini Project/components/Hybriddriver.html">Hybrid Drives</a>
                             <a href="/Html/Mini Project/components/Aircooler.html">Air Cooler</a>
                             <a href="/Html/Mini Project/components/Liquidcooler.html">Liquid Cooler</a>
                             <a href="/Html/Mini Project/components/computercase.html">Computer cases</a>
                             <a href="/Html/Mini Project/components/soundcard.html">Sound Cards</a>
                             <a href="/Html/Mini Project/components/usbexpansion.html">USB Expansions</a>
                             <a href="/Html/Mini Project/components/thunderbolt.html">ThunderBolt Cards</a>
                             <a href="/Html/Mini Project/components/rgblight.html">RGB light strips and controllers</a>
                             <a href="/Html/Mini Project/components/opticaldriver.html">Optical Drives</a>
                             <a href="/Html/Mini Project/components/powercable.html">Power Cables</a>
                         </div>
                     </li>
 
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/Accessories.html">Accessories</a>
                             <div class="dropdown-content">
                                 <a href="/Html/Mini Project/Accessories/keyboard.html">Keyboard</a>
                                 <a href="/Html/Mini Project/Accessories/mouse.html">Mouse</a>
                                 <a href="/Html/Mini Project/Accessories/monitor.html">Monitor</a>
                                 <a href="/Html/Mini Project/Accessories/headphones.html">Headphones</a>
                                 <a href="/Html/Mini Project/Accessories/webcame.html">Webcame</a>
                                 <a href="/Html/Mini Project/Accessories/drives.html">Drives</a>
                                 <a href="/Html/Mini Project/Accessories/wifi-adapter.html">wifi-Adapter</a>
                             </div>
                         </li>
                     <li><a href="/Html/Mini Project/main/about.html">About</a></li>
                     <li><a href="/Html/Mini Project/main/contact.html">Contact</a></li>
                     <li id="loginBtn"><a href="/Html/Mini Project/main/login.html" onclick="toggleLoginForm()">Login</a></li>
                 </ul>
             </nav>
         </div>
     </header>
    <div class=" processor-table">
        <h1>Power Cables</h1><br>
        <ab><u><b>"Reliable Power Delivery, No Compromises!"</b></u></ab>
        <table border="2">
            <tr>
                <td><b>Sr.No</b></td>
                <td><b>Name</b></td>
                <td><b>Specification</b></td>
                <td><b>Pics</b></td>
                <td><b>Price</b></td>
                <td><b>Links</b></td>
                
            </tr>
            <tr>
                <td>1.</td>
                <td>Corsair Premium Individually Sleeved PSU Cables Pro Kit</td>
                <td>Compatible with Corsair power supplies<br>
                    High-quality flexible paracord material<br>
                    Easy to install<br>
                    Available in various colors<br>
                    Includes 24-pin ATX, 8-pin EPS12V, 6+2-pin PCIe cables, and more</td>
                <td><img src="https://m.media-amazon.com/images/I/81ZVxzswy+L._SX679_.jpg"
                        alt="image not found"></td>
                <td>₹1,500 (Approx.)</td>
                <td><a
                        href="https://www.amazon.in/CORSAIR-Premium-Individually-Sleeved-Cables/dp/B07L5WB84P"
                        target="_blank">**Amazon**</a><br><br>
                    <br><br><a
                        href="https://www.corsair.com/ww/en/p/pc-components-accessories/cp-8920226/premium-individually-sleeved-psu-cables-pro-kit-type-4-gen-4-aca-a-red-black-cp-8920226"
                        target="_blank">**CORSAIR**</a></td>
                
            </tr>
            <tr>
                <td>2.</td>
                <td>Thermaltake TtMod Sleeve Extension Power Supply Cable Kit</td>
                <td>Compatible with various power supplies<br>
                    High-quality textile-braided sleeve<br>
                    Easy installation<br>
                    Available in different colors<br>
                    Includes 24-pin ATX, 8-pin EPS, and 6+2-pin PCIe cables</td>
                <td><img src="https://m.media-amazon.com/images/I/718ATGclbaL._SX679_.jpg"
                        alt="image not found"></td>
                <td>₹2,500 (Approx.)</td>
                <td><a
                        href="https://www.amazon.in/Thermaltake-Sleeve-Extension-Supply-AC-033-CN1NAN-A1/dp/B01IA9FFIY"
                        target="_blank">**Amazon**</a><br><br>
                    <br><br><a
                        href="https://www.thermaltake.com/ttmod-sleeve-cable-cable-extension-white-and-black.html"
                        target="_blank">**Thermaltake**</a></td>
                
            </tr>
            <tr>
                <td>3.</td>
                <td>NZXT Sleeved LED Kit Cable</td>
                <td>Individually addressable RGB LEDs<br>
                    Easy installation<br>
                    Compatible with NZXT HUE 2 lighting controller<br>
                    Multiple lighting modes<br>
                    Length: 300mm</td>
                <td><img src="https://m.media-amazon.com/images/I/91kNl-HnHiL._SX679_.jpg"
                        alt="image not found"></td>
                <td>₹3,500 (Approx.)</td>
                <td><a
                        href="https://www.amazon.in/CB-LED10-GR-1-Metre-Light-Sensitivity-Sleeved/dp/B0046Y15ZA?th=1"
                        target="_blank">**Amazon**</a><br><br>
                
            </tr>
            <tr>
                <td>4.</td>
                <td>EVGA PowerLink Cable Management</td>
                <td>Improves cable management<br>
                    Supports multiple PCI-E configurations<br>
                    Adjustable RGB LED lighting<br>
                    Compatible with most EVGA GeForce GTX graphics cards</td>
                <td><img src="https://m.media-amazon.com/images/I/71ucjW1sY6L._SX679_.jpg"
                        alt="image not found"></td>
                <td>₹5,990 (Approx.)</td>
                <td><a
                        href="https://www.amazon.in/EVGA-PowerLink-Cable-Management-Adjustable/dp/B01MQ1YEYH/ref=sr_1_6?crid=3LDXP9BGKYZXJ&keywords=evga+powerlink&qid=1673223595&s=computers&sprefix=evga+power%2Ccomputers%2C223&sr=1-6"
                        target="_blank">**Amazon**</a><br><br>
                    <br><br><a
                        href="https://www.flipkart.com/evga-powerlink-cable-management-geforce-gtx-1080-ti/p/itmf3s2kzxhx6hyc?pid=CBKF3S2KX9GWSKYD&lid=LSTCBKF3S2KX9GWSKYD2ILRQM&marketplace=FLIPKART&q=evga+powerlink&store=search.flipkart.com&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=9c69572e-ea5d-4e6e-9ab3-d4d833e4bb70.CBKF3S2KX9GWSKYD.SEARCH&ppt=sp&ppn=sp&ssid=k8gf16qbr4ywc9sw1634968737075"
                        target="_blank">**Flipkart**</a></td>
                
            </tr>
            <tr>
                <td>5.</td>
                <td>Asiahorse Customization Mod Sleeve Extension Power Supply Cable Kit</td>
                <td>Universal compatibility<br>
                    High-density premium soft PET sleeve<br>
                    Heat-shrink-less connectors<br>
                    Includes 24-pin ATX, 8-pin EPS, and 6+2-pin PCIe cables<br>
                    Available in various colors</td>
                <td><img src="https://m.media-amazon.com/images/I/71jWzqaMweL._SX679_.jpg"
                        alt="image not found"></td>
                <td>₹3,999 (Approx.)</td>
                <td><a
                        href="https://www.amazon.in/Asiahorse-Customization-Sleeve-Extension-Supply/dp/B073W6N7Y2?th=1"
                        target="_blank">**Amazon**</a><br><br>
                    <br><br><a
                        href="https://www.flipkart.com/asiahorse-customization-mod-sleeve-extension-power-supply-cable-kit/p/itm0731e948aee2d?pid=CBLFZ9FNGTQY5YFG&lid=LSTCBLFZ9FNGTQY5YFG2G7KUW&marketplace=FLIPKART&q=asiahorse+customization&store=search.flipkart.com&srno=s_1_3&otracker=search&otracker1=search&fm=SEARCH&iid=9c69572e-ea5d-4e6e-9ab3-d4d833e4bb70.CBLFZ9FNGTQY5YFG.SEARCH&ppt=sp&ppn=sp&ssid=k8gf16qbr4ywc9sw1634968737075"
                        target="_blank">**Flipkart**</a></td>
                
            </tr>
        </table>
        <br><br>
    </div>

<footer>
    <div class="container">
        <p>&copy; 2023 BuildMyPC. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
