<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuildMyPC: Custom PC Builder</title>
    <link rel="stylesheet" href="processors.css">
</head>

<body>

   <header>
        <div class="container">
              <div class="logo"><ab>BuildMyPC</ab></div>
         <img src="logo.jpg" alt="Logo" class="img-logo" />
             <nav>
                 <ul>
                     <li><a href="/Html/Mini Project/main/Home.html" class="active">Home</a></li>
                     <li><a href="/Html/Mini Project/main/pcbulider.html">PC Builder</a></li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/pre-bulid.html">Pre-Bulid</a>
                         <div class="dropdown-content">
                             <a href="/Html/Mini Project/Pre-Build/gamingpc.html">Gaming PC</a>
                             <a href="/Html/Mini Project/Pre-Build/professionalpc.html">Professional PC</a>
                             <a href="/Html/Mini Project/Pre-Build/casualpc.html">Casual Work PC</a>
                             <a href="/Html/Mini Project/Pre-Build/serverpc.html">Server PC</a>
                             <a href="/Html/Mini Project/Pre-Build/minipc.html">Mini PC</a>
                             <a href="/Html/Mini Project/Pre-Build/creatorpc.html">Creator PC</a>
                             <a href="/Html/Mini Project/Pre-Build/multipurposepc.html">Multipurpose PC</a>
                         </div>
                     </li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/component.html">Components</a>
                         <div class="dropdown-content">
                              <a href="/Html/Mini Project/components/processors.html">Processors</a>
                             <a href="/Html/Mini Project/components/graphics.html">Graphics Cards</a>
                             <a href="/Html/Mini Project/components/Motherboard.html">Motherboards</a>
                             <a href="/Html/Mini Project/components/Ram.html">RAM</a>
                             <a href="/Html/Mini Project/components/Ssd.html">Ssd</a>
                             <a href="/Html/Mini Project/components/Hdd.html">HDD</a>
                             <a href="/Html/Mini Project/components/Hybriddriver.html">Hybrid Drives</a>
                             <a href="/Html/Mini Project/components/Aircooler.html">Air Cooler</a>
                             <a href="/Html/Mini Project/components/Liquidcooler.html">Liquid Cooler</a>
                             <a href="/Html/Mini Project/components/computercase.html">Computer cases</a>
                             <a href="/Html/Mini Project/components/soundcard.html">Sound Cards</a>
                             <a href="/Html/Mini Project/components/usbexpansion.html">USB Expansions</a>
                             <a href="/Html/Mini Project/components/thunderbolt.html">ThunderBolt Cards</a>
                             <a href="/Html/Mini Project/components/rgblight.html">RGB light strips and controllers</a>
                             <a href="/Html/Mini Project/components/opticaldriver.html">Optical Drives</a>
                             <a href="/Html/Mini Project/components/powercable.html">Power Cables</a>
                         </div>
                     </li>
 
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/Accessories.html">Accessories</a>
                             <div class="dropdown-content">
                                 <a href="/Html/Mini Project/Accessories/keyboard.html">Keyboard</a>
                                 <a href="/Html/Mini Project/Accessories/mouse.html">Mouse</a>
                                 <a href="/Html/Mini Project/Accessories/monitor.html">Monitor</a>
                                 <a href="/Html/Mini Project/Accessories/headphones.html">Headphones</a>
                                 <a href="/Html/Mini Project/Accessories/webcame.html">Webcame</a>
                                 <a href="/Html/Mini Project/Accessories/drives.html">Drives</a>
                                 <a href="/Html/Mini Project/Accessories/wifi-adapter.html">wifi-Adapter</a>
                             </div>
                         </li>
                     <li><a href="/Html/Mini Project/main/about.html">About</a></li>
                     <li><a href="/Html/Mini Project/main/contact.html">Contact</a></li>
                     <li id="loginBtn"><a href="/Html/Mini Project/main/login.html" onclick="toggleLoginForm()">Login</a></li>
                 </ul>
             </nav>
         </div>
     </header>
    <div class=" processor-table">
        <ab><h1>Processors</h1><br></ab>
        <ab><u><b>"Unleash Potential, Embrace Speed: That's the Power of Processors!"</b></u></ab>
        <table border="3">
            <tr>
                <td><b>Sr.No</b></td>
                <td><b>Name</b></td>
                <td><b>Specification</b></td>
                <td><b>Pics</b></td>
                <td><b>Price</b></td>
                <td><b>Links</b></td>
                
            </tr>
        <tr>
            <td>1.</td>
            <td>Intel i-3</td>
            <td>Total Cores 4<br>
                Total Cores of Performance-cores 4<br>
                Total Cores of Efficient-cores 0<br>
                Total Threads 8<br>
                Max Turbo Frequency 4.30 GHz<br>
                Performance-core Max Turbo Frequency 4.30 GHz<br>
                Performance-core Base Frequency3.30 GHz<br>
                Cache 12 MB Intel® Smart Cache<br>
                Total L2 Cache5 MB<br>
                Processor Base Power 60 W<br>
                Maximum Turbo Power 89 W</td>
            <td><img src="https://cdn.mdcomputers.in/image/cache/catalog/processor/intel/i3-13100/i3-13100-image-main-600x600.jpg" alt="image not found"></td>
                <td>₹12,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/Intel%C2%AE-CoreTM-i3-12100-Processor-Cache/dp/B09MDDX29R/ref=psdc_1375344031_t1_B09MDGKQLY" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/intel-i3-12100f-4-3-ghz-upto-lga1700-socket-4-cores-8-threads-desktop-processor/p/itm0ffcf9089ca76" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>2.</td>
            <td>Intel i-5</td>
            <td>Total Cores 10<br>
                Total Cores of Performance-cores 6<br>
                Total Cores of Efficient-cores 4<br>
                Total Threads 16<br>
                Max Turbo Frequency 4.90 GHz<br>
                Performance-core Max Turbo Frequency 4.90 GHz<br>
                Efficient-core Max Turbo Frequency 3.60 GHz<br>
                Performance-core Base Frequency 3.70 GHz<br>
                Efficient-core Base Frequency 2.80 GHz<br>
                Cache 20 MB Intel® Smart Cache<br>
                Total L2 Cache 9.5 MB<br>
                Processor Base Power 125 W<br>
                Maximum Turbo Power 150 W</td>
            <td><img src="https://smcinternational.in/extra/gaming-accessories-featured/1667206281.jpg" alt="image not found"></td>
                <td>₹20,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/Intel-Generation-Desktop-Processor-Warranty/dp/B09MDFH5HY/ref=psdc_1375344031_t3_B09MDGKQLY" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/intel-i5-12400f-4-4-ghz-upto-lga1700-socket-6-cores-12-threads-desktop-processor/p/itm993ef4265cddc?pid=PSRGCVGB9FH9HWMX&marketplace=FLIPKART&fm=productRecommendation%2Fsimilar&ppt=pp&ppn=pp" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>3.</td>
            <td>Intel i-7</td>
            <td>Total Cores 12<br>
                Total Cores of Performance-cores8<br>
                Total Cores of Efficient-cores4<br>
                Total Threads 20<br>
                Max Turbo Frequency 5.00 GHz<br>
                Intel® Turbo Boost Max Technology 3.0 Frequency ‡ 5.00 GHz<br>
                Performance-core Max Turbo Frequency 4.90 GHz<br>
                Efficient-core Max Turbo Frequency 3.80 GHz<br>
                Performance-core Base Frequency3.60 GHz<br>
                Efficient-core Base Frequency2.70 GHz<br>
                Cache 25 MB Intel® Smart Cache<br>
                Total L2 Cache12 MB<br>
                Processor Base Power 125 W<br>
                Maximum Turbo Power 190 W<br></td>
            <td><img src="https://thinkpc.in/wp-content/uploads/2023/01/intel-i7-12700-desktop-processor-600x600.jpg" alt="image not found"></td>
                <td>₹35,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/Intel-Generation-Processor-Warranty-Required/dp/B09MDHZ2YQ/ref=psdc_1375344031_t1_B09GYJJ1PT" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/amd-ryzen-3-3200g-radeon-vega-8-graphics-yd3200c5fhbox-3-6-ghz-upto-4-am4-socket-cores-threads-2-mb-l2-l3-desktop-processor/p/itm77c87269b8ee3?pid=PSRFN3P5SFYEYFWS&marketplace=FLIPKART&q=ryzen+3+3200g&srno=s_1_1&fm=search-autosuggest&ppt=sp&ppn=sp&qH=73ac1c064aa66d1f" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>4.</td>
            <td>Intel i-9</td>
            <td>Total Cores 16<br>
                Total Cores of Performance-cores8<br>
                Total Cores of Efficient-cores8<br>
                Total Threads 24<br>
                Max Turbo Frequency 5.20 GHz<br>
                Intel® Turbo Boost Max Technology 3.0 Frequency ‡ 5.20 GHz<br>
                Performance-core Max Turbo Frequency 5.10 GHz<br>
                Efficient-core Max Turbo Frequency 3.90 GHz<br>
                Performance-core Base Frequency3.20 GHz<br>
                Efficient-core Base Frequency2.40 GHz<br>
                Cache 30 MB Intel® Smart Cache<br>
                Total L2 Cache14 MB<br>
                Processor Base Power 125 W<br>
                Maximum Turbo Power 241 W<br></td>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKvUnG6AI9HnVKZZNWbvOvhBMj4BojU4A0rQ&usqp=CAU" alt="image not found"></td>
                <td>₹50,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/Intel-i9-12900K-Desktop-Processor-Unlocked/dp/B09FXDLX95/ref=sr_1_5?crid=3H7BCKWSRREI6&keywords=i9&s=computers&sprefix=i9%2Ccomputers%2C337&sr=1-5&th=1" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/intel-i9-12900kf-5-2-ghz-upto-lga1700-socket-16-cores-24-threads-desktop-processor/p/itm35b967f4d39fa?pid=PSRG96VGBSXXYZFW&marketplace=FLIPKART&fm=productRecommendation%2Fsimilar&ppt=pp&ppn=pp" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>5.</td>
            <td>Ryzen 3</td>
            <td>4 Cores & 4 Threads.<br>
                3.5 Clock Speed.<br>
                3.7 GHz Maximum Turbo Frequency.<br>
                AM4 Socket.<br>
                4MB L3 Cache.<br>
                2MB L2 Cache.<br>
                Integrated AMD Radeon Vega 8 Graphics.<br>
                65W TDP.</td>
            <td><img src="https://shivamitservice.com/wp-content/uploads/2019/12/amd_ryzen_3-2200g_1.jpg" alt="image not found"></td>
                <td>₹11,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/AMD-RyzenTM-3200G-RadeonTM-Graphics/dp/B07STGHZK8/ref=pd_rhf_dp_s_di_int_pop_multi_srecs_sabr_cn_sccl_1_5/259-4302736-1992438?th=1" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/intel-i3-12100f-4-3-ghz-upto-lga1700-socket-4-cores-8-threads-desktop-processor/p/itm0ffcf9089ca76" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>6.</td>
            <td>Ryzen 5</td>
            <td>Total number of CPU Cores 6<br>
                Total number of Threads 12<br>
                Max. Boost Clock Up to 4.6GHz<br>
                Base Clock 3.7GHz<br>
                L2 Cache 3MB<br>
                L3 Cache 32MB<br>
                Default TDP 65W<br>
                Processor Technology for CPU Cores TSMC 7nm FinFET<br>
                Unlocked for Overclocking Yes<br>
                CPU Socket AM4</td>
            <td><img src="https://nationalpc.in/image/cache/catalog/product/CPU/AMD/Ryzen-7000/7600/1-1024x1024.jpg" alt="image not found"></td>
                <td>₹18,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/AMD-4600G-Processor-12-thread-RadeonTM/dp/B09Z5NH6SJ/ref=psdc_1375344031_t2_B07STGHZK8" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/amd-ryzen-5-5600g-3-9-ghz-upto-4-4-am4-socket-6-cores-12-threads-3-kb-l2-16-l3-desktop-processor/p/itm534359993ff1a?pid=PSRG5Y4EYFCRVJZH&marketplace=FLIPKART&fm=productRecommendation%2Fsimilar&ppt=pp&ppn=pp" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>7.</td>
            <td>Ryzen 7</td>
            <td>Total number of CPU Cores 8<br>
                Total number of Threads 16<br>
                Max. Boost Clock Up to 4.7GHz<br>
                Base Clock 3.8GHz<br>
                L2 Cache 4MB<br>
                L3 Cache 32MB<br>
                Default TDP 105W<br>
                Processor Technology for CPU Core TSMC 7nm FinFET<br>
                Unlocked for Overclocking Yes<br>
                CPU Socket AM4</td>
            <td><img src="https://www.reckoncomputers.co.in/assets/uploads/7b8b9fe8965d2bbb-350.webp" alt="image not found"></td>
                <td>₹32,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/AMD-5700G-Processor-16-thread-RadeonTM/dp/B091J3NYVF/ref=pb_allspark_dp_sims_pao_desktop_session_based_sccl_4_11/259-4302736-1992438?th=1" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/amd-ryzen-7-5800x-3-8-ghz-upto-4-7-am4-socket-8-cores-16-threads-desktop-processor/p/itm69780e7bc2464?pid=PSRFXS4GBJXUYYAW&marketplace=FLIPKART&fm=productRecommendation%2Fsimilar&ppt=pp&ppn=pp" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>8.</td>
            <td>Ryzen 9</td>
            <td>
                Total number of CPU Cores 12<br>
                Total number of Threads 24<br>
                Max. Boost Clock Up to 4.8GHz<br>
                Base Clock 3.7GHz<br>
                L2 Cache 6MB<br>
                L3 Cache 64MB<br>
                Default TDP 105W<br>
                Processor Technology for CPU Cores TSMC 7nm FinFET<br>
                Unlocked for Overclocking Yes<br>
                CPU Socket AM4<br>
                Thermal Solution (PIB) Not included<br>
                Recommended Cooler Liquid cooler recommended for optimal performance<br>
                Max. Operating Temperature (Tjmax) 90°C</td>
            <td><img src="https://m.media-amazon.com/images/I/51CjeDpAvnL._AC_UF1000,1000_QL80_.jpg" alt="image not found"></td>
                <td>₹48,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/AMD-Ryzen-5900X-Processor-100-100000061WOF/dp/B08164VTWH/ref=pb_allspark_dp_sims_pao_desktop_session_based_sccl_4_14/259-4302736-1992438?th=1" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/amd-ryzen-9-5900x-3-7-ghz-upto-4-8-am4-socket-12-cores-24-threads-desktop-processor/p/itm9c2f31ff26734?pid=PSRFXS4GWS5ZRUHJ&marketplace=FLIPKART&fm=productRecommendation%2Fsimilar&ppt=pp&ppn=pp" target="_blank">**Flipcart**</a></td>
        
        </tr>
        </table>
        <br><br>
    </div>

<footer>
    <div class="container">
        <p>&copy; 2023 BuildMyPC. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
