<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuildMyPC: Custom PC Builder</title>
    <link rel="stylesheet" href="Ram.css">
</head>

<body>

   <header>
        <div class="container">
              <div class="logo"><ab>BuildMyPC</ab></div>
         <img src="logo.jpg" alt="Logo" class="img-logo" />
             <nav>
                 <ul>
                     <li><a href="/Html/Mini Project/main/Home.html" class="active">Home</a></li>
                     <li><a href="/Html/Mini Project/main/pcbulider.html">PC Builder</a></li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/pre-bulid.html">Pre-Bulid</a>
                         <div class="dropdown-content">
                             <a href="/Html/Mini Project/Pre-Build/gamingpc.html">Gaming PC</a>
                             <a href="/Html/Mini Project/Pre-Build/professionalpc.html">Professional PC</a>
                             <a href="/Html/Mini Project/Pre-Build/casualpc.html">Casual Work PC</a>
                             <a href="/Html/Mini Project/Pre-Build/serverpc.html">Server PC</a>
                             <a href="/Html/Mini Project/Pre-Build/minipc.html">Mini PC</a>
                             <a href="/Html/Mini Project/Pre-Build/creatorpc.html">Creator PC</a>
                             <a href="/Html/Mini Project/Pre-Build/multipurposepc.html">Multipurpose PC</a>
                         </div>
                     </li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/component.html">Components</a>
                         <div class="dropdown-content">
                              <a href="/Html/Mini Project/components/processors.html">Processors</a>
                             <a href="/Html/Mini Project/components/graphics.html">Graphics Cards</a>
                             <a href="/Html/Mini Project/components/Motherboard.html">Motherboards</a>
                             <a href="/Html/Mini Project/components/Ram.html">RAM</a>
                             <a href="/Html/Mini Project/components/Ssd.html">Ssd</a>
                             <a href="/Html/Mini Project/components/Hdd.html">HDD</a>
                             <a href="/Html/Mini Project/components/Hybriddriver.html">Hybrid Drives</a>
                             <a href="/Html/Mini Project/components/Aircooler.html">Air Cooler</a>
                             <a href="/Html/Mini Project/components/Liquidcooler.html">Liquid Cooler</a>
                             <a href="/Html/Mini Project/components/computercase.html">Computer cases</a>
                             <a href="/Html/Mini Project/components/soundcard.html">Sound Cards</a>
                             <a href="/Html/Mini Project/components/usbexpansion.html">USB Expansions</a>
                             <a href="/Html/Mini Project/components/thunderbolt.html">ThunderBolt Cards</a>
                             <a href="/Html/Mini Project/components/rgblight.html">RGB light strips and controllers</a>
                             <a href="/Html/Mini Project/components/opticaldriver.html">Optical Drives</a>
                             <a href="/Html/Mini Project/components/powercable.html">Power Cables</a>
                         </div>
                     </li>
 
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/Accessories.html">Accessories</a>
                             <div class="dropdown-content">
                                 <a href="/Html/Mini Project/Accessories/keyboard.html">Keyboard</a>
                                 <a href="/Html/Mini Project/Accessories/mouse.html">Mouse</a>
                                 <a href="/Html/Mini Project/Accessories/monitor.html">Monitor</a>
                                 <a href="/Html/Mini Project/Accessories/headphones.html">Headphones</a>
                                 <a href="/Html/Mini Project/Accessories/webcame.html">Webcame</a>
                                 <a href="/Html/Mini Project/Accessories/drives.html">Drives</a>
                                 <a href="/Html/Mini Project/Accessories/wifi-adapter.html">wifi-Adapter</a>
                             </div>
                         </li>
                     <li><a href="/Html/Mini Project/main/about.html">About</a></li>
                     <li><a href="/Html/Mini Project/main/contact.html">Contact</a></li>
                     <li id="loginBtn"><a href="/Html/Mini Project/main/login.html" onclick="toggleLoginForm()">Login</a></li>
                 </ul>
             </nav>
         </div>
     </header>
    <div class=" processor-table">
        <h1>RAM</h1><br>
        <ab><u><b>"Boosting Your System, One Byte at a Time!"</b></u></ab>
        <table border="2">
            <tr>
                <td><b>Sr.No</b></td>
                <td><b>Name</b></td>
                <td><b>Specification</b></td>
                <td><b>Pics</b></td>
                <td><b>Price</b></td>
                <td><b>Links</b></td>
                
            </tr>
        <tr>
            <td>1.</td>
            <td>corsair vengeance led </td>
            <td>TPerformance Profile XMP 2.0<br>
                SPD Latency 15-15-15-36<br>
                SPD Speed 2133MHz<br>
                SPD Voltage 1.2V<br>
                Tested Latency 16-18-18-35<br>
                Tested Speed 2666 MT/s<br>
                Tested Voltage 1.2V<br>
                Interface DDR4<br>
                Single / Multi-Zone Lighting Single Zone<br>
                Weight 0.155</td>
            <td><img src="https://m.media-amazon.com/images/I/71e6YWJio-L._SX679_.jpg" alt="image not found"></td>
                <td>₹8,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/CORSAIR-Vengeance-CMW16GX4M2C3200C16-3200MHz-Desktop/dp/B07D1XCKWW" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.amazon.in/Corsair-Vengeance-2x8GB-PC4-25600-Intel/dp/B01M0GSOYC?th=1" target="_blank">**Amazon**</a></td>
        
        </tr>
        <tr>
            <td>2.</td>
            <td>kingston hyperx fury</td>
            <td>• Power Supply: VDD = 1.2V Typical<br>
                • VDDQ = 1.2V Typical<br>
                • VPP = 2.5V Typical<br>
                • VDDSPD = 2.2V to 3.6V<br>
                • On-Die termination (ODT)<br>
                • 16 internal banks; 4 groups of 4 banks each<br>
                • Bi-Directional Differential Data Strobe<br>
                • 8 bit pre-fetch<br>
                • Burst Length (BL) switch on-the-fly BL8 or BC4(Burst Chop)<br>
                • Height 1.34” (34mm), w/heatsink</td>
            <td><img src="https://m.media-amazon.com/images/I/610AYWIgVOL._SX679_.jpg" alt="image not found"></td>
                <td>₹9,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/HyperX-2400MHz-Desktop-Memory-HX424C15FB3/dp/B07WCQRP6B" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/hyperx-fury-rgb-ddr4-8-gb-quad-channel-pc-kingston-8gb-3200-mhz/p/itmc5295c064d98a" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>3.</td>
            <td>corsair dominator platinum</td><br>
            <td>Performance Profile XMP 2.0<br>
                SPD Latency 15-15-15-36<br>
                SPD Speed 2133MHz<br>
                SPD Voltage 1.2V<br>
                Tested Latency 16-18-18-36<br>
                Tested Speed 3200 MT/s<br>
                Tested Voltage 1.35<br>
                Interface DDR4<br>
                Single / Multi-Zone Lighting Dynamic MultiZone<br>
                Weight 0.244<br></td>
            <td><img src="https://m.media-amazon.com/images/I/71rnLYjGUTL._SX679_.jpg" alt="image not found"></td>
                <td>₹5,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/Corsair-Dominator-Platinum-PC4-25600-Desktop/dp/B07N3HT852" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.amazon.in/Corsair-Dominator-Optimized-Regulation-Ultra-Bright/dp/B09RX4NQ3D?th=1" target="_blank">**Amazon**</a></td>
        
        </tr>
        <tr>
            <td>4.</td>
            <td>G.Skill Trident Z RGB DC</td>
            <td>Product Dimensions	13.3 x 0.8 x 4.4 cm; 90 Grams<br>
                Item model number	F4-3200C16S-8GTZR<br>
                RAM Size	8 GB<br>
                Memory Storage Capacity	8 GB<br>
                Ram Memory Technology	DDR4<br>
                Computer Memory Type	DDR4 SDRAM<br>
                Digital storage capacity	8 GB<br>
                Compatible Devices	Desktop<br>
                Special Features	Lightweight<br>
                Mounting Hardware	1xRAM<br>
                Number of items	1<br>
                Voltage	1.35 Volts<br>
                Data Transfer Rate	3200 Megabytes Per Second<br>
                Form Factor	DIMM<br>
                Manufacturer	G.SKILL<br>
                Item Weight	90 g<br></td>
            <td><img src="https://m.media-amazon.com/images/I/61b8TutPmwL._SX679_.jpg" alt="image not found"></td>
                <td>₹6,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/G-Skill-F4-3200C16S-8GTZR-Trident-DDR4-3200MHz-CL16-18-18-38/dp/B07MCLQZK9?th=1" target="_blank">**Amazon**</a><br><br>
        
        </tr>
        <tr>
            <td>5.</td>
            <td>Adata Spectrix D80 </td>
            <td>TPerformance Profile XMP 2.0<br>
                SPD Latency 15-15-15-36<br>
                SPD Speed 2133MHz<br>
                SPD Voltage 1.2V<br>
                Tested Latency 16-18-18-35<br>
                Tested Speed 2666 MT/s<br>
                Tested Voltage 1.2V<br>
                Interface DDR4<br>
                Single / Multi-Zone Lighting Single Zone<br>
                Weight 0.155</td>
            <td><img src="https://cdn.mos.cms.futurecdn.net/nnG7XDX4xKkiRFwcnk9R2h-1200-80.jpg.webp" alt="image not found"></td>
                <td>₹7,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/CORSAIR-Vengeance-CMW16GX4M2C3200C16-3200MHz-Desktop/dp/B07D1XCKWW" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.amazon.in/Corsair-Vengeance-2x8GB-PC4-25600-Intel/dp/B01M0GSOYC?th=1" target="_blank">**Amazon**</a></td>
        
        </tr>
        <tr>
            <td>6.</td>
            <td> Silicon Power Zenith PowerX</td>
            <td>• Power Supply: VDD = 1.2V Typical<br>
                • VDDQ = 1.2V Typical<br>
                • VPP = 2.5V Typical<br>
                • VDDSPD = 2.2V to 3.6V<br>
                • On-Die termination (ODT)<br>
                • 16 internal banks; 4 groups of 4 banks each<br>
                • Bi-Directional Differential Data Strobe<br>
                • 8 bit pre-fetch<br>
                • Burst Length (BL) switch on-the-fly BL8 or BC4(Burst Chop)<br>
                • Height 1.34” (34mm), w/heatsink</td>
            <td><img src="https://cdn.mos.cms.futurecdn.net/HvH5sLdqaZ5XZ8EuToeAkK-1200-80.jpg.webp" alt="image not found"></td>
                <td>₹2,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/HyperX-2400MHz-Desktop-Memory-HX424C15FB3/dp/B07WCQRP6B" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/hyperx-fury-rgb-ddr4-8-gb-quad-channel-pc-kingston-8gb-3200-mhz/p/itmc5295c064d98a" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>7.</td>
            <td> G.Skill TridentZ Royal</td><br>
            <td>Performance Profile XMP 2.0<br>
                SPD Latency 15-15-15-36<br>
                SPD Speed 2133MHz<br>
                SPD Voltage 1.2V<br>
                Tested Latency 16-18-18-36<br>
                Tested Speed 3200 MT/s<br>
                Tested Voltage 1.35<br>
                Interface DDR4<br>
                Single / Multi-Zone Lighting Dynamic MultiZone<br>
                Weight 0.244<br></td>
            <td><img src="https://cdn.mos.cms.futurecdn.net/C2CXmj4v3vDzAzuzMEUT86-1200-80.png.webp" alt="image not found"></td>
                <td>₹4,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/Corsair-Dominator-Platinum-PC4-25600-Desktop/dp/B07N3HT852" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.amazon.in/Corsair-Dominator-Optimized-Regulation-Ultra-Bright/dp/B09RX4NQ3D?th=1" target="_blank">**Amazon**</a></td>
        
        </tr>
        <tr>
            <td>8.</td>
            <td>Corsair Vengeance LPX</td>
            <td>Product Dimensions	13.3 x 0.8 x 4.4 cm; 90 Grams<br>
                Item model number	F4-3200C16S-8GTZR<br>
                RAM Size	8 GB<br>
                Memory Storage Capacity	8 GB<br>
                Ram Memory Technology	DDR4<br>
                Computer Memory Type	DDR4 SDRAM<br>
                Digital storage capacity	8 GB<br>
                Compatible Devices	Desktop<br>
                Special Features	Lightweight<br>
                Mounting Hardware	1xRAM<br>
                Number of items	1<br>
                Voltage	1.35 Volts<br>
                Data Transfer Rate	3200 Megabytes Per Second<br>
                Form Factor	DIMM<br>
                Manufacturer	G.SKILL<br>
                Item Weight	90 g<br></td>
            <td><img src="https://cdn.mos.cms.futurecdn.net/dgyur9TLCPPw2X6PZPXqUe-1200-80.jpg.webp" alt="image not found"></td>
                <td>₹12,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/G-Skill-F4-3200C16S-8GTZR-Trident-DDR4-3200MHz-CL16-18-18-38/dp/B07MCLQZK9?th=1" target="_blank">**Amazon**</a><br><br>
        
        </tr>
        <tr>
            <td>9.</td>
            <td>TEAMGROUP T-Force Delta </td>
            <td>TPerformance Profile XMP 2.0<br>
                SPD Latency 15-15-15-36<br>
                SPD Speed 2133MHz<br>
                SPD Voltage 1.2V<br>
                Tested Latency 16-18-18-35<br>
                Tested Speed 2666 MT/s<br>
                Tested Voltage 1.2V<br>
                Interface DDR4<br>
                Single / Multi-Zone Lighting Single Zone<br>
                Weight 0.155</td>
            <td><img src="https://m.media-amazon.com/images/I/81ofJNN-O8L._SX679_.jpg" alt="image not found"></td>
                <td>₹9,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/TEAMGROUP-T-Force-Alliance-PC4-25600-TF9D432G3200HC16FDC01/dp/B08RSDZBW8/ref=sr_1_4?keywords=best%2Bram%2Bfor%2Bgaming%2Bpc&sr=8-4&th=1" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.amazon.in/Corsair-Vengeance-2x8GB-PC4-25600-Intel/dp/B01M0GSOYC?th=1" target="_blank">**Amazon**</a></td>
        
        </tr>
        <tr>
            <td>10.</td>
            <td>ALKETRON Quantum</td>
            <td>• Power Supply: VDD = 1.2V Typical<br>
                • VDDQ = 1.2V Typical<br>
                • VPP = 2.5V Typical<br>
                • VDDSPD = 2.2V to 3.6V<br>
                • On-Die termination (ODT)<br>
                • 16 internal banks; 4 groups of 4 banks each<br>
                • Bi-Directional Differential Data Strobe<br>
                • 8 bit pre-fetch<br>
                • Burst Length (BL) switch on-the-fly BL8 or BC4(Burst Chop)<br>
                • Height 1.34” (34mm), w/heatsink</td>
            <td><img src="https://m.media-amazon.com/images/I/61YwJbAlN8L._SX679_.jpg" alt="image not found"></td>
                <td>₹7,500 (Approx.)</td>
            <td><a href="https://www.amazon.in/ALKETRON-Quantum-1866MHz-PC3-14900u-Warranty/dp/B07JPLY4LL/ref=sr_1_5?keywords=best%2Bram%2Bfor%2Bgaming%2Bpc&sr=8-5&th=1" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.flipkart.com/hyperx-fury-rgb-ddr4-8-gb-quad-channel-pc-kingston-8gb-3200-mhz/p/itmc5295c064d98a" target="_blank">**Flipcart**</a></td>
        
        </tr>
        <tr>
            <td>11.</td>
            <td>SP Silicon Power Silicon Power XPOWER Turbine</td><br>
            <td>Performance Profile XMP 2.0<br>
                SPD Latency 15-15-15-36<br>
                SPD Speed 2133MHz<br>
                SPD Voltage 1.2V<br>
                Tested Latency 16-18-18-36<br>
                Tested Speed 3200 MT/s<br>
                Tested Voltage 1.35<br>
                Interface DDR4<br>
                Single / Multi-Zone Lighting Dynamic MultiZone<br>
                Weight 0.244<br></td>
            <td><img src="https://m.media-amazon.com/images/I/71YvdFBt9iL._SX679_.jpg" alt="image not found"></td>
                <td>₹6,999 (Approx.)</td>
            <td><a href="https://www.amazon.in/Silicon-Power-Turbine-3200MHz-SP016GXLZU320BSA/dp/B07NKVFHRP/ref=sr_1_6?keywords=best%2Bram%2Bfor%2Bgaming%2Bpc&sr=8-6&th=1" target="_blank">**Amazon**</a><br><br>
                <br><br><a href="https://www.amazon.in/Silicon-Power-Turbine-3200MHz-SP016GXLZU320BSA/dp/B07NKVFHRP/ref=sr_1_6?keywords=best%2Bram%2Bfor%2Bgaming%2Bpc&sr=8-6&th=1" target="_blank">**Amazon**</a></td>
        
        </tr>
        <tr>
            <td>12.</td>
            <td>TeamGroup T-Force Vulcan Z</td>
            <td>Product Dimensions	13.3 x 0.8 x 4.4 cm; 90 Grams<br>
                Item model number	F4-3200C16S-8GTZR<br>
                RAM Size	8 GB<br>
                Memory Storage Capacity	8 GB<br>
                Ram Memory Technology	DDR4<br>
                Computer Memory Type	DDR4 SDRAM<br>
                Digital storage capacity	8 GB<br>
                Compatible Devices	Desktop<br>
                Special Features	Lightweight<br>
                Mounting Hardware	1xRAM<br>
                Number of items	1<br>
                Voltage	1.35 Volts<br>
                Data Transfer Rate	3200 Megabytes Per Second<br>
                Form Factor	DIMM<br>
                Manufacturer	G.SKILL<br>
                Item Weight	90 g<br></td>
            <td><img src="https://m.media-amazon.com/images/I/61Xzwpl+wJL._SX679_.jpg" alt="image not found"></td>
                <td>₹8,899 (Approx.)</td>
            <td><a href="https://www.amazon.in/TeamGroup-T-Force-Vulcan-3200Mhz-Gaming/dp/B08R66K4BG/ref=sr_1_16?keywords=best%2Bram%2Bfor%2Bgaming%2Bpc&sr=8-16&th=1" target="_blank">**Amazon**</a><br><br>
        
        </tr>
        </table>
        <br><br>
    </div>

<footer>
    <div class="container">
        <p>&copy; 2023 BuildMyPC. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
