<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuildMyPC: Custom PC Builder</title>
    <link rel="stylesheet" href="soundcard.css">
</head>

<body>

   <header>
        <div class="container">
              <div class="logo"><ab>BuildMyPC</ab></div>
         <img src="logo.jpg" alt="Logo" class="img-logo" />
             <nav>
                 <ul>
                     <li><a href="/Html/Mini Project/main/Home.html" class="active">Home</a></li>
                     <li><a href="/Html/Mini Project/main/pcbulider.html">PC Builder</a></li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/pre-bulid.html">Pre-Bulid</a>
                         <div class="dropdown-content">
                             <a href="/Html/Mini Project/Pre-Build/gamingpc.html">Gaming PC</a>
                             <a href="/Html/Mini Project/Pre-Build/professionalpc.html">Professional PC</a>
                             <a href="/Html/Mini Project/Pre-Build/casualpc.html">Casual Work PC</a>
                             <a href="/Html/Mini Project/Pre-Build/serverpc.html">Server PC</a>
                             <a href="/Html/Mini Project/Pre-Build/minipc.html">Mini PC</a>
                             <a href="/Html/Mini Project/Pre-Build/creatorpc.html">Creator PC</a>
                             <a href="/Html/Mini Project/Pre-Build/multipurposepc.html">Multipurpose PC</a>
                         </div>
                     </li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/component.html">Components</a>
                         <div class="dropdown-content">
                              <a href="/Html/Mini Project/components/processors.html">Processors</a>
                             <a href="/Html/Mini Project/components/graphics.html">Graphics Cards</a>
                             <a href="/Html/Mini Project/components/Motherboard.html">Motherboards</a>
                             <a href="/Html/Mini Project/components/Ram.html">RAM</a>
                             <a href="/Html/Mini Project/components/Ssd.html">Ssd</a>
                             <a href="/Html/Mini Project/components/Hdd.html">HDD</a>
                             <a href="/Html/Mini Project/components/Hybriddriver.html">Hybrid Drives</a>
                             <a href="/Html/Mini Project/components/Aircooler.html">Air Cooler</a>
                             <a href="/Html/Mini Project/components/Liquidcooler.html">Liquid Cooler</a>
                             <a href="/Html/Mini Project/components/computercase.html">Computer cases</a>
                             <a href="/Html/Mini Project/components/soundcard.html">Sound Cards</a>
                             <a href="/Html/Mini Project/components/usbexpansion.html">USB Expansions</a>
                             <a href="/Html/Mini Project/components/thunderbolt.html">ThunderBolt Cards</a>
                             <a href="/Html/Mini Project/components/rgblight.html">RGB light strips and controllers</a>
                             <a href="/Html/Mini Project/components/opticaldriver.html">Optical Drives</a>
                             <a href="/Html/Mini Project/components/powercable.html">Power Cables</a>
                         </div>
                     </li>
 
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/Accessories.html">Accessories</a>
                             <div class="dropdown-content">
                                 <a href="/Html/Mini Project/Accessories/keyboard.html">Keyboard</a>
                                 <a href="/Html/Mini Project/Accessories/mouse.html">Mouse</a>
                                 <a href="/Html/Mini Project/Accessories/monitor.html">Monitor</a>
                                 <a href="/Html/Mini Project/Accessories/headphones.html">Headphones</a>
                                 <a href="/Html/Mini Project/Accessories/webcame.html">Webcame</a>
                                 <a href="/Html/Mini Project/Accessories/drives.html">Drives</a>
                                 <a href="/Html/Mini Project/Accessories/wifi-adapter.html">wifi-Adapter</a>
                             </div>
                         </li>
                     <li><a href="/Html/Mini Project/main/about.html">About</a></li>
                     <li><a href="/Html/Mini Project/main/contact.html">Contact</a></li>
                     <li id="loginBtn"><a href="/Html/Mini Project/main/login.html" onclick="toggleLoginForm()">Login</a></li>
                 </ul>
             </nav>
         </div>
     </header>
    <div class=" processor-table">
        <ab><h1>Sound Cards</h1><br></ab>
        <ab><u><b>"Immerse Yourself in Rich Audio: Explore Our Sound Cards!"</b></u></ab>
        <table border="3">
            <tr>
                <td><b>Sr.No</b></td>
                <td><b>Name</b></td>
                <td><b>Specification</b></td>
                <td><b>Pics</b></td>
                <td><b>Price</b></td>
                <td><b>Links</b></td>
                
            </tr>
            <tr>
                <td>1.</td>
                <td>Creative Sound Blaster Audigy FX PCIe 5.1 Sound Card</td>
                <td>5.1 Channel Surround Sound<br>
                    Advanced Audio Processing with SBX Pro Studio<br>
                    24-bit 192 kHz Audio Playback<br>
                    106dB SNR of Stereo Playback<br>
                    600-ohm Headphone Amp for Studio Monitoring<br>
                    ASIO Driver Support</td>
                <td><img src="https://m.media-amazon.com/images/I/71eTQKa5oAL._SX679_.jpg" alt="image not found"></td>
                <td>₹1,999 (Approx.)</td>
                <td><a href="https://www.amazon.in/Creative-Blaster-Audigy-Express-Controller/dp/B00EO6X4XG" target="_blank">**Amazon**</a></td>
                
            </tr>
            <tr>
                <td>2.</td>
                <td>ASUS XONAR SE 5.1 PCIe Gaming Sound Card</td>
                <td>5.1 channel, 192kHz/24-bit Hi-Res audio with a 300ohm headphone amp for detailed, immersive sound with punchy, defined bass<br>
                    Realtek ALC1220X codec delivers a crystal clear 116dB signal-to-noise ratio (SNR)<br>
                    ASUS Hyper Grounding Technology ensures minimal audio distortion and interference<br>
                    Xonar Audio Center enables full audio control via an intuitive, spacious interface</td>
                <td><img src="https://m.media-amazon.com/images/I/912fsgSDweL._SX679_.jpg" alt="image not found"></td>
                <td>₹1,500 (Approx.)</td>
                <td><a href="https://www.amazon.in/Asus-Channel-192kHz-Windows-Compatible/dp/B07HCX1NY9?th=1" target="_blank">**Amazon**</a></td>
                
            </tr>
            <tr>
                <td>3.</td>
                <td>Creative Sound Blaster Z PCIe Gaming Sound Card</td>
                <td>116dB Signal-To-Noise Ratio<br>
                    SBX Pro Studio™ technologies<br>
                    Crystal clear communication<br>
                    Sound Core3D audio processor<br>
                    Advanced home entertainment audio<br>
                    Dolby Digital Live<br>
                    Headphone surround sound<br>
                    Dual microphone inputs<br>
                    THX TruStudio Pro™ sound technologies</td>
                <td><img src="https://m.media-amazon.com/images/I/7189deODEXL._SX679_.jpg" alt="image not found"></td>
                <td>₹1,999 (Approx.)</td>
                <td><a href="https://www.amazon.in/Creative-Blaster-Gaming-Sound-Card/dp/B009ISU33E" target="_blank">**Amazon**</a></td>
                
            </tr>
            <tr>
                <td>4.</td>
                <td>UGREEN USB Audio Adapter External Stereo Sound Card</td>
                <td>USB External Sound Card easily adds a 3.5mm aux TRRS port (integrated audio-in and audio out interface) to your computer, which enables you to connect your existing headset with 3.5mm TRRS to your PC through a USB interface. Note: It does not work with a traditional 3.5mm two jack headset.</td>
                <td><img src="https://m.media-amazon.com/images/I/7148e3VNR0L._SX679_.jpg" alt="image not found"></td>
                <td>₹1,999 (Approx.)</td>
                <td><a href="https://www.amazon.in/UGREEN-External-Headphones-Microphone-Simultaneously/dp/B01N905VOY" target="_blank">**Amazon**</a></td>
                
            </tr>
            <tr>
                <td>5.</td>
                <td>HyperX Amp USB Sound Card</td>
                <td>Convenient Audio control box<br>
                    7.1 virtual surround sound<br>
                    Compatible with stereo headsets</td>
                <td><img src="https://m.media-amazon.com/images/I/61HNtbLHC9L._SX679_.jpg" alt="image not found"></td>
                <td>₹1,499 (Approx.)</td>
                <td><a href="https://www.amazon.in/HyperX-HX-USCCAMSS-BK-Sound-Card-Black/dp/B07GW1SHSN" target="_blank">**Amazon**</a></td>
                
            </tr>
            <tr>
                <td>6.</td>
                <td>EVGA Nu Audio Card, Lifelike Audio, PCIe</td>
                <td>Studio-grade audio (SNR: 123dB)<br>
                    7.1 surround and upgraded op-amps<br>
                    Audio Control Module (ACM)<br>
                    Designed with Audio Note (UK)</td>
                <td><img src="https://m.media-amazon.com/images/I/61W0iPH7WaL._SX679_.jpg" alt="image not found"></td>
                <td>₹2,999 (Approx.)</td>
                <td><a href="https://www.amazon.in/EVGA-Audio-Lifelike-CO-Engineered-712-P1-AN01-KR/dp/B07MSQJ3GY?th=1" target="_blank">**Amazon**</a></td>
                
            </tr>
            
            <tr>
                <td>7.</td>
                <td>ASUS Essence STX II 7.1 Sound Card</td>
                <td>124dB SNR audio quality<br>
                    7.1-channel analog output<br>
                    Independent stereo control box<br>
                    Ultra-low jitter<br>
                    Swappable Op-Amps</td>
                <td><img src="https://m.media-amazon.com/images/I/51jwreDLDtL._SX679_.jpg" alt="image not found"></td>
                <td>₹2,409 (Approx.)</td>
                <td><a href="https://www.amazon.in/ASUS-Sound-Essence-STX-II/dp/B00ONSBF4K" target="_blank">**Amazon**</a></td>
                
            </tr>
            
            <tr>
                <td>8.</td>
                <td>Creative Sound BlasterX AE-5 Plus Gaming Sound Card</td>
                <td>DAC: ESS SABRE32 Ultra Class PCIe DAC<br>
                    Max Playback Resolution: 32-bit / 384 kHz<br>
                    Dolby Digital Live Encoding<br>
                    RGB Aurora Lighting Effects<br>
                    Xamp Discrete Headphone Bi-amp</td>
                <td><img src="https://m.media-amazon.com/images/I/51jWT0jiR8L._SX679_.jpg" alt="image not found"></td>
                <td>₹2,599 (Approx.)</td>
                <td><a href="https://www.amazon.in/Creative-BlasterX-SABRE32-class-Discrete-Headphone/dp/B086QN3WNX?th=1" target="_blank">**Amazon**</a></td>
                
            </tr>
        </table>
        <br><br>
    </div>

<footer>
    <div class="container">
        <p>&copy; 2023 BuildMyPC. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
