<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuildMyPC: Custom PC Builder</title>
    <link rel="stylesheet" href="usbexpansion.css">
</head>

<body>

   <header>
        <div class="container">
              <div class="logo"><ab>BuildMyPC</ab></div>
         <img src="logo.jpg" alt="Logo" class="img-logo" />
             <nav>
                 <ul>
                     <li><a href="/Html/Mini Project/main/Home.html" class="active">Home</a></li>
                     <li><a href="/Html/Mini Project/main/pcbulider.html">PC Builder</a></li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/pre-bulid.html">Pre-Bulid</a>
                         <div class="dropdown-content">
                             <a href="/Html/Mini Project/Pre-Build/gamingpc.html">Gaming PC</a>
                             <a href="/Html/Mini Project/Pre-Build/professionalpc.html">Professional PC</a>
                             <a href="/Html/Mini Project/Pre-Build/casualpc.html">Casual Work PC</a>
                             <a href="/Html/Mini Project/Pre-Build/serverpc.html">Server PC</a>
                             <a href="/Html/Mini Project/Pre-Build/minipc.html">Mini PC</a>
                             <a href="/Html/Mini Project/Pre-Build/creatorpc.html">Creator PC</a>
                             <a href="/Html/Mini Project/Pre-Build/multipurposepc.html">Multipurpose PC</a>
                         </div>
                     </li>
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/component.html">Components</a>
                         <div class="dropdown-content">
                              <a href="/Html/Mini Project/components/processors.html">Processors</a>
                             <a href="/Html/Mini Project/components/graphics.html">Graphics Cards</a>
                             <a href="/Html/Mini Project/components/Motherboard.html">Motherboards</a>
                             <a href="/Html/Mini Project/components/Ram.html">RAM</a>
                             <a href="/Html/Mini Project/components/Ssd.html">Ssd</a>
                             <a href="/Html/Mini Project/components/Hdd.html">HDD</a>
                             <a href="/Html/Mini Project/components/Hybriddriver.html">Hybrid Drives</a>
                             <a href="/Html/Mini Project/components/Aircooler.html">Air Cooler</a>
                             <a href="/Html/Mini Project/components/Liquidcooler.html">Liquid Cooler</a>
                             <a href="/Html/Mini Project/components/computercase.html">Computer cases</a>
                             <a href="/Html/Mini Project/components/soundcard.html">Sound Cards</a>
                             <a href="/Html/Mini Project/components/usbexpansion.html">USB Expansions</a>
                             <a href="/Html/Mini Project/components/thunderbolt.html">ThunderBolt Cards</a>
                             <a href="/Html/Mini Project/components/rgblight.html">RGB light strips and controllers</a>
                             <a href="/Html/Mini Project/components/opticaldriver.html">Optical Drives</a>
                             <a href="/Html/Mini Project/components/powercable.html">Power Cables</a>
                         </div>
                     </li>
 
                     <li class="dropdown">
                         <a href="/Html/Mini Project/main/Accessories.html">Accessories</a>
                             <div class="dropdown-content">
                                 <a href="/Html/Mini Project/Accessories/keyboard.html">Keyboard</a>
                                 <a href="/Html/Mini Project/Accessories/mouse.html">Mouse</a>
                                 <a href="/Html/Mini Project/Accessories/monitor.html">Monitor</a>
                                 <a href="/Html/Mini Project/Accessories/headphones.html">Headphones</a>
                                 <a href="/Html/Mini Project/Accessories/webcame.html">Webcame</a>
                                 <a href="/Html/Mini Project/Accessories/drives.html">Drives</a>
                                 <a href="/Html/Mini Project/Accessories/wifi-adapter.html">wifi-Adapter</a>
                             </div>
                         </li>
                     <li><a href="/Html/Mini Project/main/about.html">About</a></li>
                     <li><a href="/Html/Mini Project/main/contact.html">Contact</a></li>
                     <li id="loginBtn"><a href="/Html/Mini Project/main/login.html" onclick="toggleLoginForm()">Login</a></li>
                 </ul>
             </nav>
         </div>
     </header>
    <div class=" processor-table">
        <h1>USB Expansions</h1><br>
        <ab><u><b>"Expand Your Connectivity: USB Expansions for Every Need!"</b></u></ab>
        <table border="2">
            <tr>
                <td><b>Sr.No</b></td>
                <td><b>Name</b></td>
                <td><b>Specification</b></td>
                <td><b>Pics</b></td>
                <td><b>Price</b></td>
                <td><b>Links</b></td>
                
            </tr>
<tr>
    <td>1.</td>
    <td>USB Hub 4-Port</td>
    <td>4 USB 3.0 ports<br>Compact and portable design</td>
    <td><img src="https://m.media-amazon.com/images/I/41C6odOsPNL._AC._SR360,460.jpg" alt="USB Hub"></td>
                <td>₹2,500 (Approx.)</td>
    <td><a href="https://www.amazon.in/USB-Hubs/b?ie=UTF8&node=1375342031" target="_blank">**Amazon**</a></td>
    
</tr>

<tr>
    <td>2.</td>
    <td>USB-C Docking Station</td>
    <td>USB-C with Power Delivery<br>HDMI, Ethernet, USB 3.0 ports</td>
    <td><img src="https://rukminim2.flixcart.com/image/832/832/xif0q/docking-station/a/u/p/1-with-otg-sd-card-reader-usb-type-c-usb-3-0-and-micro-usb-for-original-imaggfpzehdqhzcz.jpeg?q=70" alt="USB-C Docking Station"></td>
                <td>₹500 (Approx.)</td>
    <td><a href="https://www.flipkart.com/voocme-3-1-usb-type-c-adapter-sd-card-reader-c-usb-3-0-micro-memory-portable-compatible-tf-sd-sdhc-sdxc-mmc-rs-mmc/p/itmeae6057b8c86c?pid=DCSGGFPZ4C33GYTB&marketplace=FLIPKART&q=USB-C+Docking+Station&srno=s_1_3&fm=Search&ppt=sp&ppn=sp&qH=1f4f75f7f31cc8a8" target="_blank">**Flipkart**</a></td>
    
</tr>

<tr>
    <td>3.</td>
    <td>Thunderbolt 3 Hub</td>
    <td>Thunderbolt 3 technology<br>High-speed data transfer</td>
    <td><img src="https://m.media-amazon.com/images/I/71Td+Nw4omL._AC_UY545_FMwebp_QL65_.jpg" alt="Thunderbolt 3 Hub"></td>
                <td>₹600 (Approx.)</td>
    <td><a href="https://www.amazon.in/TEQTA-Thunderbolt-Charging-MacBookPro-MacBookAir/dp/B0C3LV9KRT/ref=sr_1_3?keywords=Thunderbolt+3+Hub&s=computers&sr=1-3" target="_blank">**Amazon**</a></td>
    
</tr>

<tr>
    <td>4.</td>
    <td>USB 3.1 Gen 2 PCIe Card</td>
    <td>PCI Express interface<br>Supports ultra-fast data transfer</td>
    <td><img src="https://m.media-amazon.com/images/I/71V4IEGae+L._SX679_.jpg" alt="USB 3.1 Gen 2 PCIe Card"></td>
                <td>₹2,500 (Approx.)</td>
    <td><a href="https://www.amazon.in/StarTech-com-PCIe-USB-3-1-Card/dp/B087G7T234" target="_blank">**Amazon**</a></td>
    
</tr>

<tr>
    <td>5.</td>
    <td>USB-C Expansion Card</td>
    <td>Adds USB-C ports to your PC<br>Plug-and-play installation</td>
    <td><img src="https://m.media-amazon.com/images/I/61MYkkgKpXL._SX679_.jpg" alt="USB-C Expansion Card"></td>
                <td>₹900 (Approx.)</td>
    <td><a href="https://www.amazon.in/ASM3124-Internal-Expansion-Controller-Multiple/dp/B099W8TPL6" target="_blank">**Amazon**</a></td>
    
</tr>

<tr>
    <td>6.</td>
    <td>Multi-Port USB Adapter</td>
    <td>USB 3.0 ports, HDMI, SD card slot<br>Compact and versatile design</td>
    <td><img src="https://m.media-amazon.com/images/I/6183x0KbJHL._SX679_.jpg" alt="Multi-Port USB Adapter"></td>
                <td>₹690 (Approx.)</td>
    <td><a href="https://www.flipkart.com/voocme-3-1-usb-type-c-adapter-sd-card-reader-c-usb-3-0-micro-memory-portable-compatible-tf-sd-sdhc-sdxc-mmc-rs-mmc/p/itmeae6057b8c86c?pid=DCSGGFPZ4C33GYTB&marketplace=FLIPKART&q=USB-C+Docking+Station&srno=s_1_3&fm=Search&ppt=sp&ppn=sp&qH=1f4f75f7f31cc8a8" target="_blank">**Flipkart**</a></td>
    
</tr>

<tr>
    <td>7.</td>
    <td>Thunderbolt 3 Dock</td>
    <td>Thunderbolt 3 connectivity<br>Multiple USB, HDMI, and Ethernet ports</td>
    <td><img src="https://m.media-amazon.com/images/I/51HQRgYE0bL._AC._SR360,460.jpg" alt="Thunderbolt 3 Dock"></td>
                <td>₹490 (Approx.)</td>
    <td><a href="https://www.amazon.in/TP-Link-TL-UH700-7-Port-USB-Black/dp/B00LI4O9EA?ref_=Oct_d_omwf_d_1375342031_3&th=1" target="_blank">**Amazon**</a></td>
    
</tr>

<tr>
    <td>8.</td>
    <td>USB Hub with Power Delivery</td>
    <td>USB 3.0 hub with PD charging<br>Compact and portable</td>
    <td><img src="https://m.media-amazon.com/images/I/51AW9kyMaSL._AC._SR360,460.jpg" alt="USB Hub with Power Delivery"></td>
                <td>₹890 (Approx.)</td>
    <td><a href="https://www.flipkart.com/voocme-3-1-usb-type-c-adapter-sd-card-reader-c-usb-3-0-micro-memory-portable-compatible-tf-sd-sdhc-sdxc-mmc-rs-mmc/p/itmeae6057b8c86c?pid=DCSGGFPZ4C33GYTB&marketplace=FLIPKART&q=USB-C+Docking+Station&srno=s_1_3&fm=Search&ppt=sp&ppn=sp&qH=1f4f75f7f31cc8a8" target="_blank">**Flipkart**</a></td>
    
</tr>

<tr>
    <td>9.</td>
    <td>USB 2.0 Expansion Card</td>
    <td>PCIe card for additional USB 2.0 ports<br>Easy installation</td>
    <td><img src="https://m.media-amazon.com/images/I/412PKVnyNEL._AC_UF420%2C420_FMjpg_.jpg" alt="USB 2.0 Expansion Card"></td>
                <td>₹590 (Approx.)</td>
    <td><a href="https://www.amazon.in/usb-2-0-expansion-card-easy-installation/dp/B09XYZABC" target="_blank">**Amazon**</a></td>
    
</tr>

        </table>
        <br><br>
    </div>

<footer>
    <div class="container">
        <p>&copy; 2023 BuildMyPC. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
